* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.project {
    border: solid black;
}
.project img {
    max-width: 800px;
    max-height: 300px;
}

.project-container {
    border: solid red;
    margin: 50px;
    background-color: aqua;
}

body {
    font-family: helvetica, Arial, Helvetica, sans-serif;
}   

header {
    padding: 20px 35px;
    background-color: gray;
    border: solid red;
    margin: 50px;
    
}

header h1 {
    font-weight: bold;
    display: inline;
    margin: 50;
}

header a {
    text-decoration: none;
    display:block;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li  {
    margin: 0 30px;
}

